body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 0,5%;
    background: #003b32;
    overflow-x: hidden;
    padding: 1%, 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .main {
    margin-left: 140px; 
    font-size: 28px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .ilmaa1 {
      margin-top:5%;
    }

    
    .kuva{
      width: 100%;
    }
    .näkyy{
      border: solid red;
    }