body {
    font-family: "Lato", sans-serif;
    background-color: #cbe6df;
  }

  .navbar {
    background-color: #003b31;
    font: 16px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
  
  .sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 0,5%;
    background: #8cb1a7;
    overflow-x: hidden;
    padding: 1%, 0;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }
  
  .sidenav a:hover {
    color: #2db63f;
  }
  
  .main {
    margin-left: 140px; 
    font-size: 28px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


  .map-container{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }

    .ilmaa1 {
      margin-top:5%;
    }

    
    .kuva{
      width: 100%;
    }
    .näkyy{
      border: solid red;
    }

    .rounded{
      border-radius: 15%;
    }

    .Sinnabox {
      display: flex;
      margin-top: 60px;
      justify-content: flex-start;
      align-content: flex-start;
      flex-flow: row wrap;
    }

    .Sinnabox > header  {
      width: 100%;
      text-align: center;
    }
    
    .Sinnabox > .ImageContainer {
      width: 100%;
      align-content: center;
      justify-content: center;
      text-align: center;
    }

    .Sinnakuva {
      display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 300px;

    }


    .Sinnateksti {
      
      border: solid black 1px;
      height: 100px;
      width:200px;
      
      
    }

